<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="/socket.io/socket.io.js"></script> <!--socket.io API-->
  <link rel="stylesheet" href="/cdn/styles/board.css">
  <script src="/cdn/scripts/client.js" defer></script>
  <title>board-multiplayer</title>
</head>
<body>
  <div class="main-menu-container" id="main-menu"></div>
  <!--<div class="game-board-container">
    <div class="main-board">Main board</div>
    <div class="board1">Player 1</div>
    <div class="board2">Player 2</div>
    <div class="board3">Player 3</div>
    <div class="board4">Player 4</div>
  </div>-->
</body>
</html>