<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <script src="/cdn/scripts/create-room-menu.js" defer></script>
  <link rel="stylesheet" href="/cdn/styles/create-room-menu.css">
  <title>WordleDoodle</title>
</head>
<body>
  <!--Scattered rotating letters-->
  <span class="background-rotating-letters W-background-letter">W</span>
  <span class="background-rotating-letters O-background-letter">O</span>
  <span class="background-rotating-letters R-background-letter">R</span>
  <span class="background-rotating-letters D-background-letter">D</span>
  <span class="background-rotating-letters L-background-letter">L</span>
  <span class="background-rotating-letters E-background-letter">E</span>

  <span class="background-rotating-letters D1-background-letter">D</span>
  <span class="background-rotating-letters O1-background-letter">O</span>
  <span class="background-rotating-letters O2-background-letter">O</span>
  <span class="background-rotating-letters D2-background-letter">D</span>
  <span class="background-rotating-letters L1-background-letter">L</span>
  <span class="background-rotating-letters E1-background-letter">E</span>

  <div class="menu">
    <div class="turtle-container"></div>
    <div class="input-field">
      <input type="text" class="username" id="user-name" placeholder="Enter your username">
      <div class="error-message" id="js-username-error-card">
        <img src="/cdn/images/tortoise.png" alt="">
        <p id="js-username-error-message"></p>
      </div>
    </div>
    <button class="btn-create-room" id="js-btn-create-room">Create Room</button>
  </div>
</body>
</html>