<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <script src="/cdn/scripts/create-room-menu.js" defer></script>
  <link rel="stylesheet" href="/cdn/styles/create-room-menu.css">
  <title>WordleDoodle</title>
</head>
<body>
  <div class="menu">
    <div class="turtle-container"></div>
    <input type="text" class="username" id="user-name" placeholder="Enter your username">
    <button class="btn-create-room" id="js-btn-create-room">Create Room</button>
  </div>
</body>
</html>