<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="/socket.io/socket.io.js"></script>
  <script src="/cdn/scripts/hostClient.js" defer></script>
  <title>Multiplayer</title>
</head>
<body>
  <div>
      <div>
        <input type="text" id="roomCode" name="roomCode" placeholder="Enter room code">
        <button id="id-auto-gen">Auto Generate</button><br><br>
        <!--<input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>-->
      </div>

      <div>
        <button id="createRoom">Create Room</button><br><br>
        <button id="joinRoom">Join Room</button> <br><br>
        <input type="text" id="word-of-the-day" name="word-of-the-day" placeholder="Word of the day"> <button id="btn-start-game">Start Game</button> <br><br>
        <button id="board-state">Update board state</button> <br><br>
        <input type="text" id="input-user-guess"> <button id="btn-submit-guess">Submit guess</button>
      </div>
  </div>
</body>
</html>