<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cdn/styles/common.css">
    <link rel="stylesheet" href="/cdn/styles/guest-menu.css">
  <title>WordleDoodle</title>
</head>
<body>
  <!--Scattered background rotating letters-->
  <span class="background-rotating-letters D1-background-letter">D</span>
  <span class="background-rotating-letters O-background-letter">O</span>
  <span class="background-rotating-letters O1-background-letter">O</span>
  <span class="background-rotating-letters D-background-letter">D</span>
  <span class="background-rotating-letters L-background-letter">L</span>
  <span class="background-rotating-letters E-background-letter">E</span>
  
  <div class="guest-menu-card">
    <div class="turtle-container"></div>
    <button class="guest-btn join-room" id="js-join-room-btn">Join Room</button>
    <button class="guest-btn create-room" id="js-create-room-btn">Create Room</button>
  </div>
</body>
</html>