<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cdn/styles/common.css">
  <link rel="stylesheet" href="/cdn/styles/registration.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <script src="/cdn/scripts/user-registration.js" defer></script>
  <title>WordleDoodle</title>
</head>
<body>
    <!--Scattered rotating letters-->
  <span class="background-rotating-letters D1-background-letter">D</span>
  <span class="background-rotating-letters O-background-letter">O</span>
  <span class="background-rotating-letters O1-background-letter">O</span>
  <span class="background-rotating-letters D-background-letter">D</span>
  <span class="background-rotating-letters L-background-letter">L</span>
  <span class="background-rotating-letters E-background-letter">E</span>

  <div class="registration-card">
    <h1 id="title">Registration</h1>
    <form id="registration-form">
      <div class="input-field">
        <input type="text" id="username" placeholder="Username">
        <div class="error-message" id="js-username-error">
          <img src="/cdn/images/tortoise.png" loading="lazy" alt="">
          <p id="js-username-message"></p>
        </div>
      </div>
      <div class="input-field">
        <input type="text" id="email" placeholder="email">
        <div class="error-message" id="js-email-error">
          <img src="/cdn/images/tortoise.png" loading="lazy" alt="">
          <p id="js-email-message">Hmm! Email is required</p>
        </div>
      </div>
      <div class="input-field">
        <input type="password" id="password" placeholder="password">
        <div class="error-message" id="js-password-error">
          <img src="/cdn/images/tortoise.png" loading="lazy" alt="">
          <p id="js-password-message"></p>
        </div>
      </div>
      <button type="submit" class="btn register-button" id="js-register-button">Register</button>
    </form>
  </div>
</body>
</html>