.game-board-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 98vh; /*Board should occupy 98% the full page*/
}

.main-board {
  background-color: lightgray;
  grid-row: 1 / span 2; /*The main board should span the entire two rows*/
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board1 , .board2,
.board3, .board4 {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
}