body {
  font-family: 'Fredoka One', cursive;
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #d9fdd3, #fff9c4);
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.menu,
.guest-main-menu-container {
  background: #f3f5f6;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 320px;
  text-align: center;
  z-index: 100;
  position: relative;
  border-radius: 2rem;
}

.turtle-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 60px;
  margin-right: 60px;
  background: url('/cdn/images/turtle-sprite2.png') 0 0 no-repeat;
  margin-bottom: 1rem;
}

.turtle-container:hover {
  animation: turtle-blink 0.18s  steps(6) 1;
}

@keyframes turtle-blink {
  from {background-position: 0 0;}
  to {background-position: -1200px 0;}
}

.btn-create-room,
.btn-join-room {
  display: block;
  width: 100%;
  padding: 0.9rem;
  margin-top: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Fredoka One', cursive;
  transition: all 0.2s ease-in-out;
  background: #FFEB3B;
  color: #212121;
}

.btn-create-room:hover,
.btn-join-room:hover {
  background: #FDD835;
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.username,
.room-code {
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  padding: 0.8rem 1rem;
  border: 2px solid #4CAF50;
  outline: none;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1rem;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.username:focus,
.room-code:focus {
  border-color: #FFEB3B;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.W-background-letter {
  top: 10%;
  left: 15%;
  animation-duration: 30s;
}

.O-background-letter {
  top: 70%;
  left: 25%;
  animation-duration: 40s;
}

.O1-background-letter {
  top: 5%;
  left: 50%;
  animation-duration: 40s;
}

.O2-background-letter {
  top: 90%;
  left: 50%;
  animation-duration: 40s;
}

.R-background-letter {
  top: 30%;
  left: 80%;
  animation-duration: 25s;
}

.D-background-letter {
  top: 60%;
  left: 65%;
  animation-duration: 35s;
}

.D1-background-letter {
  top: 50%;
  left: 10%;
  animation-duration: 35s;
}

.D2-background-letter {
  top: 50%;
  left: 90%;
  animation-duration: 35s;
}

.L-background-letter {
  top: 20%;
  left: 70%;
  animation-duration: 50s;
}

.L1-background-letter {
  top: 50%;
  left: 25%;
  animation-duration: 50s;
}

.E-background-letter {
  top: 80%;
  left: 10%;
  animation-duration: 45s;
}

.E1-background-letter {
  top: 90%;
  left: 90%;
  animation-duration: 45s;
}

.background-rotating-letters {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.05);
  animation: spin 20s linear infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.error-message {
  display: none;
  margin-top: 5px;
  background: #f1f1e4;
  color: #FF0000;
  padding: 6px 12px;
  border-radius: 15px;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  animation: bounceIn 0.4s ease;
}

.error-message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid hsl(115, 29%, 43%);;
}

@keyframes bounceIn {
  0% {transform: scale(0.8); opacity: 0;}
  60% {transform: scale(1.1); opacity: 1;}
  100% {transform: scale(1);}
}