.chat-section {
  background: url('/cdn/images/chat-background.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chat-title {
  font-family: 'Fredoka One', cursive;
  color: black;
  font-size: 15px;
  padding-left: 80px;
}

.heading {
  background: #dcdedf;
  opacity: 0.65;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 5px;
  width: 250px;
  height: 30px;
  border-radius: 25px;
  cursor: none;
}

.heading:hover {
  animation: grow-and-shrink 0.5s ease-in-out;
}

@keyframes grow-and-shrink {
  0%, 100% {transform: scaleX(1);}
  50% {transform: scaleX(1.04);}
}

.chat-turtle {
  border-radius: 25px 0 0 25px;
  width: 30px;
  height: 30px;
}